<div class="row align-items-center default-container">
    <div class="col-lg-5">
        <div class="contact-card">
            <img src="../../assets/901626.jpg" alt="Contact Image" class="contact-image">
            <h2 class="contact-title"><span class="white-highlight">&lt;</span>
                dnavarro03
                <span class="white-highlight">
                    /&gt;
                </span>
            </h2>
            <h1 class="default-highlight">SOFTWARE DEVELOPER</h1>

            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">

                        <a href="https://github.com/dnavarro03" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                    <div class="media-icon">
                        <a href="mailto:d.navarro03@ufromail.cl">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>
                </div>
                
            </div>

            <p class="contact-paragraph">
                I am always willing to work together and collaborate in order to achieve a positive result. If you have a project in mind, let's arrange a meeting and discuss how we can make it happen together.                <span class="default-highlight">
                We can work to achieve both your goals and mine.</span>.
            </p>
            <!--
            <button>
            <a href="../../assets/CV.pdf" download="Sebastian_Aliante_CV">
                Download CV
            </a>
            </button>
            -->
        </div>
    </div>
</div>
