<div class="row align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Welcome!</h1>
        <h2 class="home-author">Diego Navarro, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            I am Diego Navarro, a student of Computer engineering at the Universidad de la Frontera, in Temuco, Chile. With a broad interest in video game development and database management. Familiar with languages such as Java, C# and JavaScript, the Unity game engine, and management of database engines such as MySQL and PostgreSQL. Committed to continuous learning, teamwork, problem solving, and staying calm in complex situations.        </blockquote>
        <button>
            <a routerLink="/portfolio">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  